input,
button {
    width: 100px;
    padding: 5px 5px;
    height: 30px;
    margin: 10px 8px;
    border-radius: 6px;
    border: 1px solid rgb(243, 11, 11);
}

#box {
    margin: 0 25px;
    width: 700px;
    height: 450px;
    border: 1px solid rgb(35, 176, 219);
}

#ball {
    margin: 200px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
}

.d-flex {
    display: flex;
}
